<h1>My Snack</h1>
<hr>

<p>Snack Name: <%= @snack.name %></p>
<p>Snack Calories: <%= @snack.calories %></p>
<p>Snack Deliciousness: <%= @snack.deliciousness %></p>

<p>Link back to snacks: <%= link_to "Snacks", snacks_path %></p>